@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.sidebar-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar-section {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 0.5px solid white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-section:hover {
  background-color: #4a5568;
}
.sidebar-icon {
  margin-right: 8px;
}

.sidebar-sublist {
  padding-left: 16px;
  margin: 0;
  list-style-type: none;
  color: antiquewhite;
  cursor: pointer;
}

.sidebar-sublist li {
  border-bottom: 0.5px solid white;
}
.sidebar-sublist li a {
  /* Add your sublist link styles here */
  display: block;
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sidebar-sublist li a:hover {
  background-color: #4a5568;
}
.expanded {
  font-weight: bold;
}


